In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('googleplaystore.csv')

In [4]:
df = df.dropna()

In [5]:
#1. How many free apps are there in GAME
s = 0

for i in df.values:
  if(i[1] == 'GAME' and i[6] == "Free"):
    s += 1

print(s)

1020

In [6]:
#2. How many paid apps are there in SHOPPING
s = 0

for i in df.values:
  if(i[1] == 'SHOPPING' and i[6] == "Paid"):
    s += 1

print(s)

2

In [7]:
#3. How many free apps are there in BEAUTY with rating more than 4.5
s = 0

for i in df.values:
  if(i[1] == 'BEAUTY' and i[6] == "Free" and i[2] > 4.5):
    s += 1

print(s)

11

In [8]:
#4. Which category is having most number of paid apps?
for name in df['Category'].unique():
    s = 0
    for i in df.values:
        if (i[1] == name and i[6] == "Paid"):
            s += 1
    if name == "FAMILY" or name == "GAME" or name == "BEAUTY" or name == "ENTERTAINMENT":
        print(name + ": ", s)

BEAUTY:  0
ENTERTAINMENT:  2
GAME:  77
FAMILY:  161

In [9]:
#5. How many paid apps are there with SOCIAL category and Teen Content Rating?
s = 0

for i in df.values:
  if(i[1] == 'SOCIAL' and i[6] == "Paid" and i[8] == "Teen"):
    s += 1

print(s)

0

In [10]:
import pandas as pd
data = pd.read_csv('USA-cars-datasets.csv')
data = data.dropna()
data

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [11]:
#1. Top car brand in terms of number of cars.
for name in data['brand'].unique():
    s = 0
    for i in data.values:
        if (i[2] == name):
            s += 1
    if name == "ford" or name == "dodge" or name == "nissan" or name == "gmc" or name == "ferrari":
        print(name + ": ", s)

ford:  1235
dodge:  432
gmc:  42
nissan:  312

In [13]:
data['brand'].unique() #2. Which of the following car brand is not there in the data, clearly Ferrari not present

array(['toyota', 'ford', 'dodge', 'chevrolet', 'gmc', 'chrysler', 'kia',
       'buick', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac',
       'hyundai', 'mazda', 'honda', 'heartland', 'jaguar', 'acura',
       'harley-davidson', 'audi', 'lincoln', 'lexus', 'nissan', 'land',
       'maserati', 'peterbilt', 'ram'], dtype=object)

In [14]:
#3. Average Price of cars in 2018?
#total number of cars sold in 2018
s = 0
for i in data.values:
  if(i[4] == 2018):
    s += 1
print(s)

395

In [15]:
#sum of prices of cars sold in 2018
s = 0
for i in data.values:
    if(i[4] == 2018):
        s += i[1]
print(s)

7528044

In [16]:
7528044/395

19058.339240506328

In [17]:
#4. Which brand is having most expensive cars (*maximum average car price)?
#number of cars sold by each brand
for name in data['brand'].unique():
    s = 0
    for i in data['brand']:
        if (i == name):
            s += 1
    if (name == 'harley-davidson' or name == 'lexus' or name == 'ford' or name == 'nissan' or name == 'ferrari'):      
        print(name + ": ", s)

ford:  1235
harley-davidson:  1
lexus:  2
nissan:  312

In [18]:
#sum of prices of cars sold by each brand
for name in data['brand'].unique():
    s = 0
    for n in data.values:
        if (n[2] == name):
            s = s + n[1]
    if (name == 'harley-davidson' or name == 'lexus' or name == 'ford' or name == 'nissan' or name == 'ferrari'):
        print(name + ": " + str(s))

ford: 26758607
harley-davidson: 54680
lexus: 66440
nissan: 3764536

In [20]:
fo = 26758607/1235
ha = 54680/1
le = 66440/2
ni = 3764536/312
print(fo, ha, le, ni) #clearly, harley davidson is the solution

21666.888259109313 54680.0 33220.0 12065.820512820514

In [21]:
#5. Which state is having most expensive cars (*maximum average car price)? 
#number of cars sold in each state
for name in data['state'].unique():
    s = 0
    for i in data['state']:
        if (i == name):
            s += 1
    if (name == 'kentucky' or name == 'ontario' or name == 'new mexico' or name == 'california'):      
        print(name + ": ", s)

california:  190
kentucky:  9
ontario:  7
new mexico:  4

In [22]:
#sum of prices of cars sold in each state
for name in data['state'].unique():
    s = 0
    for n in data.values:
        if (n[10] == name):
            s = s + n[1]
    if (name == 'kentucky' or name == 'ontario' or name == 'new mexico' or name == 'california'):
        print(name + ": " + str(s))

california: 3388975
kentucky: 404725
ontario: 212500
new mexico: 109500

In [24]:
ca = 3388975/190
ke = 404725/9
on = 212500/7
ne = 109500/4
print(ca, ke, on, ne) #clearly kentucky is the solution

17836.71052631579 44969.444444444445 30357.14285714286 27375.0